/* GLOBAL RULE */
:root {
    --main-color: #19283f;
    --second-color: #4eb67f;
    --third-color: #ff6a00;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.error {
    margin: 0;
    padding: 0;
    color: var(--third-color);
    font-size: 12px;
}
/* GLOBAL RULE */


body {
    background-color: rgb(255, 255, 255);
}

.use-a-lot2 {
    margin: 0 auto 70px;
    padding: 20px;
    border: 3px solid black;
    width: fit-content;
    position: relative;
}
.use-a-lot2::before,
.use-a-lot2::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
    border-radius: 50%;
}

.use-a-lot2::before {
    left: -30px;
}
.use-a-lot2::after {
    right: -30px;
}
.use-a-lot2:hover::before {
    z-index: -1;
    animation: left-move .5s linear forwards;
}
.use-a-lot2:hover::after {
    z-index: -1;
    animation: right-move .5s linear forwards;
}
.use-a-lot2:hover {
    color: white;
    border-color: white;
    transition-delay: .5s;
}

/* start animation */
@keyframes left-move {
    50% {
        left: 0;
        width: 15px;
        height: 15px;
    }
    100% {
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes right-move {
    50% {
        right: 0;
        width: 15px;
        height: 15px;
    }
    100% {
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}

/* end animation */

/* Strat the sign in */
.signin {
    width: 100%;
    height: 100vh;
    background-image: url(../IMAGES/7.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(0, 0, 0, .4);
    position: relative;
}

.signin .fill {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(25, 40, 63, .9);
    border-radius: 20px;
}
@media (max-width: 767px) {
    .signin .fill {
        width: 90%;
    }
}
.signin .fill > div {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.signin .fill > div::before {
    position: absolute;
    content: '';
    bottom: 0;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: var(--second-color);
}

.signin .fill > svg {
    display: block;
    font-size: 50px;
    color: var(--second-color);
    width: fit-content;
    margin: 40px auto;
}
@media (max-width: 767px) {
    .signin .fill svg {
        font-size: 40px;
        margin: 10px auto;
    }
}

.signin .fill div input {
    text-align: center;
    padding: 20px 80px 20px 20px;
    width: 100%;
    border: none;
    background: none;
    color: rgb(160, 68, 3);
    font-size: 23px;
}
@media (max-width: 767px) {
    .signin .fill div {
        margin: 0;
    }
}

.signin .fill div input:focus {
    outline: none;
}

.signin .fill div svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    font-size: 30px;
    color: var(--second-color);
}

.signin .fill > input:last-of-type {
    display: block;
    width: fit-content;
    margin: 50px auto;
    padding: 15px 80px;
}
@media (max-width: 767px) {
    .signin .fill > input:last-of-type {
        margin: 10px auto;
        padding: 5px;
    }
}

.signin .fill p {
    text-align: center;
    font-size: 20px;
    padding: 20px 0 10px 0;
    color: white;
    border-top: 2px solid var(--second-color);
}
.signin .fill p a {
    color: var(--third-color);
}
@media (max-width: 767px) {
    .signin .fill p {
        font-size: 16px;
        padding: 5px;
    }
}
/* End the sign in */

/* Strat Navbar */
.navbar {
    background-color: var(--main-color);   
}
.navbar-brand {
    color: white;
}
.navbar-brand:hover {
    color: var(--second-color);
}

.navbar .navbar-nav .nav-link {
    color: white;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover {
    color: var(--second-color);
}

.navbar-toggler {
    color: white;
    border-color: white;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler[aria-expanded = "true"]  {
    border-color: var(--second-color);
}

.navbar .btn-primary {
    background-color: var(--second-color);
}
/*End navbar*/

/* Start profile edit */
.signup {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    background: url(../IMAGES/6.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: color;
    background-color: rgb(0, 0, 0, 0.5);
}
.profile {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    padding: 50px;
}
@media (max-width: 992px) {
    .profile {
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }
}
.profile .image {
    flex-basis: 25%;
    border-radius: 50%;
    background-color: var(--main-color);
    height: 40vh;
    position: relative;
    overflow: hidden;
}
@media (max-width: 992px) {
    .profile .image {
        height: 20vh;
        width: 40%;
    }
}
@media (max-width: 500px) {
    .profile .image {
        width: 65%;
        height: 20vh;
    }
}
.profile .image img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
}
.profile .image span:first-of-type{
    display: block;
    background-color: rgb(255, 106, 0, .6);
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: -200px;
    border-radius: 50%;
    transition: bottom .5s ease;
}
.profile .image svg,
.profile .image input{
    display: block;
    color: var(--main-color);
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom .5s ease;
    cursor: pointer;
}
.profile .image:hover span:first-of-type {
    bottom: 0;
}
.profile .image:hover svg,
.profile .image:hover input {
    bottom: 10%;
}
.profile .image input {
    background-color: transparent;
    color: transparent;
    right: 0;
}
.profile .image span:last-of-type {
    color: var(--third-color);
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
@media (max-width: 500px) {
    .profile .image svg{
        font-size: 30px;
    }
}
@media (max-width: 500px) {
    .profile .image input{
        font-size: 10px;
    }
}


.profile .info {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
@media (max-width: 992px) {
    .profile .info {
        width: 100%;
    }
}
.profile .info > div {
    width: 50%;
    padding-bottom: 5px;
    position: relative;
    border-bottom: 1px solid white;
}
@media (max-width: 992px) {
    .profile .info > div {
        width: 100%;
    }
}

.profile .info > div label {
    font-weight: 600;
    display: block;
    color: white;
}
.profile .info > div input {
    font-size: 16px;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
    color: white;
}
.profile .info > div span {
    font-size: 12px;
    color: var(--third-color);
}
.submit {
    display: block;
    width: fit-content;
    padding: 10px 15px;
    margin: auto;
    border: none;
    background-color: var(--third-color);
    border-radius: 40px;
    color: var(--main-color);
}

/* START STAR REQUIRED */
.after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #ff6a00;
    font-size: 25px;
}

/*Start BOOK*/
.content {
    padding-top: 100px;
    position: relative;
}

.content .about-book {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    position: relative;
}
@media (max-width: 768px) {
    .content .about-book {
        flex-direction: column;
    }
}

.content .about-book .image {
    flex-basis: 20%;
}
@media (max-width: 768px) {
    .content .about-book .image {
        width: 150px;
        margin: auto;
    }
}
.content .about-book .image img {
    width: 100%;
}

.content .about-book .info {
    flex-basis: 65%;
}

.content .about-book .info .title {
    margin: 10px 0 20px 0;
}
.content .about-book .info .title input {
    display: block;
    background: none;
    border: none;
    border-bottom: 2px solid var(--third-color);
    outline: none;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
    color: #777;
}

/*-------------------------*/
.content .about-book .info .text textarea{
    display: block;
    background: none;
    border: none;
    border-bottom: 2px solid var(--third-color);
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    color: #777;
}

.content .about-book .data {
    display: flex;
    margin: 100px 0;
    justify-content: space-between;
    gap: 20%;
}
@media (max-width: 768px) {
    .content .about-book .data {
        flex-direction: column;
    }
}

.content .about-book .data .datum {
    display: flex;
    flex-direction: column;
    width: 40%;
}
@media (max-width: 768px) {
    .content .about-book .data .datum {
        width: 100%;
    }
}

.content .about-book .data .datum .datum-desc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-direction: column;
}
.content .about-book .data .datum .datum-desc input{
    background: none;
    border: none;
    border-bottom: 2px solid var(--third-color);
    outline: none;
    padding: 10px 0;
    width: 100%;
    color: #777;
}

.content .about-book > input {
    position: absolute;
    display: block;
    bottom: 30px;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid rgb(255, 106, 0);
    color: var(--main-color);
    padding: 5px 10px;
    font-weight: bold;
    transition: var(--main-transition);
    background: none;
}
@media (max-width: 779px){
    .content .about-book > input {
        font-weight: normal;
        padding: 2px 5px;
    }
}
.content .about-book > input:hover {
    background-color: var(--main-color);
    color: rgb(255, 106, 0);
    border-color: var(--main-color);
}


/* START DASHBOARD */

.dash .stat {
    padding: 30px;
    background-color: var(--main-color);
    color: var(--second-color);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    margin-bottom: 10px;
    position: relative;
}

.dash .stat svg {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 60px;
    color: var(--third-color);
}

.dash .stat span a{
    display: block;
    font-size: 50px;
    color: var(--third-color);
    text-decoration: none;
    text-shadow: #4aac0c 3px 3px 5px;
}


.dash .last {
    margin-top: 100px;
}

.dash .last .panel-heading {
    border: 1px solid #777;
    padding: 10px;
    background-color: var(--main-color);
    font-size: 20px;
    color: #ff6a00;
    border-radius: 10px;
}
.dash .last .panel-heading svg{
    color: var(--second-color);
    font-size: 25px;
}

.company-form {
    position: relative;
    width: 500px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 500px) {
    .company-form {
        width: 100%;
        padding: 10px;
    }
}

.company-form div {
    width: 100%;
    margin-bottom: 10px;
}

.company-form div input {
    position: relative;
}
